/* .Contact {
  font-weight: 600;
  padding: 2rem 8% 2rem;
}

.Contact h1 {
  text-align: center;
}

.Contact-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Contactcontent1,
.Contactcontent2 {
  padding: 2rem;
}

input[type="text"],
textarea[type="text"],
select {
  font-weight: 600;
  width: 100%;
  padding: 6px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-weight: 600;
  width: 100%;
  background-color: #14bdad;
  border: solid #14bdad;
  color: white;
  padding: 8px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #14bdad;
  border-color: #14bdad;
  border: solid #14bdad;
}

.iframe-wrapper {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .Contact {
    height: 90vh;
  }

  .Contact-wrapper {
    flex-direction: row;
  }

  .Contactcontent1 {
    width: 50%;
  }

  .Contactcontent2 {
    margin: 2rem;
    width: 50%;
  }
} */
/* Base styles */
.Contact {
  font-weight: 600;
  padding: 2rem 8% 2rem;
}

.Contact h1 {
  text-align: center;
}

.Contact-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Contactcontent1,
.Contactcontent2 {
  padding: 2rem;
}

input[type="text"],
textarea[type="text"],
select {
  font-weight: 600;
  width: 100%;
  padding: 6px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-weight: 600;
  width: 100%;
  background-color: #14bdad;
  border: solid #14bdad;
  color: white;
  padding: 8px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #14bdad;
  border-color: #14bdad;
  border: solid #14bdad;
}

.iframe-wrapper {
  margin: 20px 0;
}

/* Responsive styles for 375px dimension */
@media screen and (max-width: 375px) {
  .Contact {
    height: auto; /* Remove fixed height for responsiveness */
  }

  .Contact-wrapper {
    flex-direction: column; /* Change back to column layout for smaller screens */
  }

  .Contactcontent1,
  .Contactcontent2 {
    width: 100%; /* Full width for content on smaller screens */
    padding: 1rem; /* Reduce padding for better fit on smaller screens */
  }

  .iframe-wrapper {
    padding-top: 56.25%; /* Maintain 16:9 aspect ratio for the iframe */
    position: relative;
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

